
// SHARED ACROSS PLATFORMS
#lBannerTextOne
    font-family: $ImportBrandBlackOpsOneTheme
    font-size: 3.75em
    text-align: center
    color: $brandPinkTheme

#lBannerTextTwo
    text-align: center
    text-transform: capitalize
    font-weight: 700
    font-family: serif
    font-size: 2em