
// SHARED ACROSS PLATFORMS
.m-footnote-site-title-ref, .m-parent-site-ref
    text-decoration: none
    text-transform: capitalize

    &:hover
        color: lighten($brandBackgroundTheme, 10%)

.m-event
    color: $brandBlackTheme
    font-weight: 700

.progress-counter
    margin: 2em 0 5em
    padding: 2em 0

.progress-detail
    text-align: center
    color: #000
    font-weight: bold

.ico-circle
    height: 100px
    width: 100px
    font-size: 2rem
    border-radius: 50%
    margin: 0 auto
    display: block

.counter-ico 
    margin-bottom: 1rem

.counter-ico .ico-circle 
    height: 60px
    width: 60px
    line-height: 1.8
    box-shadow: 0 0 0 10px $brandPinkTheme

.count
    font-size: 2rem
    margin-bottom: 0